<div class="wrapper">
  <div class="container">
    <header>
      <div class="title">
        <a href="#" class="logo"></a>
        <h1 class="name"><a href="#">Sidecar</a></h1>
      </div>
    </header>
    <div class="content">
      <div class="date-header">
        <a class="prev-link"></a>
        <h3 class="date">
          <!-- <span class="date"></span>  We need two classes for desktop and mobile-->
        </h3>
        <a class="next_link"></a>
      </div>
      <div class="posts">
        <div class="first">
          <div class="share-link"></div>
          <div class="share-option_hidden"></div>
          <div class="post-content">
            <div class="post-info">
              <h3 class="post-heading">
                <a href="#" class="post-title" target="_blank"></a>
              </h3>
              <p class="post_domain"></p>
            </div>
          </div>
        </div>
        <div class="second"></div>
        <div class="third"></div>
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a href="#" class="tweet" target="_blank">Tweet</a>
        <a href="#" class="about" target="_blank">About</a>
        <a href="#" class="github-icon" target="_blank">Github</a>
      </div>
    </div>
  </div>
</div>
