<div class="wrapper">
  <div class="container">
    <header>    
      <div class="title">
        <!-- <a href="#" class="logo"><i class="fa fa-bolt"></i></a> -->
        <h1 class="name"><a href="#">Sidecar</a></h1>
      </div>
    </header>
    <section class="dates">
      <div class="yesterday">
          <h3 class="date-yesterday">
            <span class="date"><%= (Date.today - 1).strftime('%B %-d') %></span> 
            <!--  We need two classes for desktop and mobile {st,nd,rd,th} -->
          </h3>
        <img src="http://placehold.it/60x60">
      </div>

      <div class="today">
          <h3 class="date-today">
            <span class="date"><%= Date.today.strftime('%B %-d') %></span> 
            <!--  We need two classes for desktop and mobile {st,nd,rd,th} -->
          </h3>
      </div>

      <div class="tomorrow">
        <h4>
        <h3 class="date-tomorrow">
            <span class="date"><%= (Date.today + 1).strftime('%B %-d') %></span> 
            <!--  We need two classes for desktop and mobile {st,nd,rd,th} -->
          </h3>
        </h4>
        <img src="http://placehold.it/60x60">
      </div>
  </section>

  <section class="articles">
    <div class="article">
      <div class="art-title">
        <h4>Tips: How to build a website that Google loves</h4>
      </div>
      <div class="art-site">
        <h5>www.softwaredevelopersindia.com</h5>
      </div>
      <div class="share-img">
        <img src="http://placehold.it/60x60">
      </div>
    </div>
    <div class="article">
      <div class="art-img">
        
      </div>
      <div class="art-title">
        <h4>Title</h4>
      </div>
      <div class="art-site">
        <h5>Site</h5>
      </div>
      <div class="share-img">
        <img src="http://placehold.it/60x60">
      </div>
    </div>
    <div class="article">
      <div class="art-title">
        <h4>Title</h4>
      </div>
      <div class="art-site">
        <h5>Site</h5>
      </div>
      <div class="share-img">
        <img src="http://placehold.it/60x60">
      </div>
    </div>
  </section>

    <footer>
      <div class="links">
        <a href="https://twitter.com/intent/tweet?status=Want%20to%20see%20cool%20articles%20check%20out%20Sidecar%20@%20+http://google.com" class="tweet" target="_blank">Tweet</a>
        <a href="#" class="about" target="_blank">About</a>
        <a href="https://github.com/hhassan1230/articles" class="github-icon" target="_blank">Github</a>
      </div>
    <footer>
  </div>
</div>
